.card-advantages-title {
  font-family: $fontFamilyRalSemiBold;
  font-size: 22px;
}
.card-description {
  font-size: 14px;
  color: $fontColorBasic;
  padding: 0 15px 0 15px;
}
.card-title {
  font-family: $fontFamilyRalMed;
  font-size: $fontSizeCardTitle;
}
.card-wrapper {
  border-left: 1px solid #fbfaf8;
  border-right: 1px solid #fbfaf8;
  border-bottom: 1px solid #fbfaf8;
  padding: 25px 0;
  background-color: #fbfaf8;
}
.card {
  padding-bottom: 20px;
  text-align: center;
}
.card-post {
  max-width: 370px;
}
.card-statistic-title {
  font-family: $fontFamilyMontExLight;
  font-size: 48px;
}
.card-statistic-icon {
  max-height: 47px;
}
