@import "variable";
.card {
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  &-advantages-title {
    font-family: $fontFamilyRalSemiBold;
    font-size: 22px;
  }
  &-advantages {
    max-width: 270px;
  }
  &-description {
    font-size: 14px;
    color: $fontColorBasic;
    padding: 0 15px 0 15px;
  }
  &-title {
    font-family: $fontFamilyRalMed;
    font-size: $fontSizeCardTitle;
  }
  &-title-project {
    color: #c7b299;
  }
  &-subtitle-project {
    color: #d1d1d1;
  }
  &-wrapper {
    border-left: 1px solid #fbfaf8;
    border-right: 1px solid #fbfaf8;
    border-bottom: 1px solid #fbfaf8;
    padding: 25px 0;
  }
}
.card-project {
  position: relative;
  &:hover {
    .card-cover {
      opacity: 1;
      visibility: visible;
      transition: 0.4s;
    }
    .card-wrapper {
      background-color: #362f2d;
      color: #fff;
      transition: 0.4s;
    }
    .card-title-project {
      color: #ffffff;
    }
    .card-subtitle-project {
      color: #c7b299;
    }
  }
  .card-cover {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100% - 111px);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(54, 47, 45, 0.69);
    transition: 0.4s;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  .card-wrapper {
    transition: 0.4s;
  }
}
.card-post {
  position: relative;
  max-width: 370px;
  margin: 0 auto;
  .date {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 3px 1px;
    color: #fff;
    .day {
      font-family: Montserrat-Regular, serif;
      background-color: #363636;
      font-size: 18px;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 3px 3px 0 0;
    }
    .mounth {
      font-family: "Roboto Light", serif;
      background-color: #252525;
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 0 0 3px 3px;
    }
  }
}
.card-statistic-title {
  font-family: $fontFamilyMontExLight;
  font-size: 48px;
  color: #fff;
}
.card-statistic-subtitle {
  color: #c2ad94;
}
.card-statistic-icon {
  max-height: 47px;
  fill: #c2ad94;
}

@media (min-width: 1200px) {
  .card {
    &-advantages {
      transition: 0.4s;
      &:hover {
        .section-advantages-icon {
          fill: #c7b299;
          transition: 0.4s;
        }
        .card-advantages-title {
          color: #c7b299;
          transition: 0.4s;
        }
        .section-decor-advantages {
          background: #c7b299;
          transition: 0.4s;
        }
      }
    }
  }
  .card-post {
    cursor: pointer;
    &:hover {
      .date {
        .day {
          background-color: #c7b299;
          transition: 0.4s;
        }

        .mounth {
          background-color: #a48d72;
          transition: 0.4s;
        }
      }
    }
    .date {
      .day {
        transition: 0.4s;
      }
      .mounth {
        transition: 0.4s;
      }
    }
  }
}
