$fontSizeBasic: 16px;
$fontSizeSection: 14px;
$fontSizeTitle: 30px;
$fontColorSubtitle: #fff;
$fontSizeCardTitle: 20px;
$bgColorBasic: #fff;
$titleFontColor: #555555;
$fontColorBasic: #8c8c8c;
$btnColor: #998675;
$fontColorSection: #c7b299;
$fontFooterColor: #00bff3;
$fontFamilyMontExLight: Montserrat-ExtraLight;
$fontFamilyMontLight: Montserrat-Light;
$fontFamilyMontRegular: Montserrat-Regular;
$fontFamilyRalBold: Raleway-Bold;
$fontFamilyRalExtraBold: Raleway-ExtraBold;
$fontFamilyRalMed: Raleway-Medium;
$fontFamilyRalReg: Raleway-Regular;
$fontFamilyRalSemiBold: Raleway-SemiBold;


